body {
    background-image: url("/wwwroot/images/Amsterdam.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.clock {
    margin: auto;
    justify-content: center;
    display:flex;
    color: #000000;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    letter-spacing: 5px;
    font-style: italic;

}
#myCitiesLabel{
      margin: auto;
    margin-left: 25%;
    margin-top: 5%;
}

#clockContainer {
    position:relative;
    margin: auto;
    height: 40vw;
    /* make the height and width responsive*/
    width: 40vw;
    /*clock background image*/
    background: url(/wwwroot/images/clock.png) no-repeat;
    background-size: 80%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transform-origin: bottom;
}
  
  #hour {
    width: 1.8%;
    height: 15.5%;
    top: 25%;
    left: 39%;
    opacity: 0.8;
}   
  
   #minute {
    width: 1.5%;
    height: 17.2%;
    top: 22.9%;
    left: 39%;
    opacity: 0.8;
}    
  
    #second {
    width: 1%;
    height: 18.4%;
    top: 21.3%;
    left: 39%;
    opacity: 0.8;
}   
 
#my-selector1{
    width: 25rem;
    margin-left: 25%;
}
#my-selector2{
    width: 25rem;
    margin-left: 25%;
}
.btn{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 15px;
}